body {
    font-family: Arial, sans-serif;
    background-color: pink;
    color: black;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: white;
    background-color: black;
    padding: 20px;
    margin: 0;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: white; 
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

p {
    text-align: center;
    margin-top: 30px;
    max-width: 800px;
    margin: 0 auto; 
    line-height: 1.6; 
    color: white; 
    font-size: 1.2em; 
    font-style: italic; 
    padding: 20px; 
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 10px;
}



input[type="submit"] {
    padding: 10px 20px; 
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    display: block;
    margin: 20px auto; 
}

input[type="submit"]:hover {
    background-color: #45a049;
}

a {
    display: inline;
    margin-right: 20px;
    color: white; 
}
